.ui.top.attached.menu{
    padding-top: 10px !important;
    border: none !important;
    padding-bottom: 10px !important;
    background: #00b6f7 !important;
    color: white !important;
}

.item:first-child{
    border-right: none !important;
}

.ui.sub.header, .content{
    color: white !important;
    border: none !important;
}

.ui.button{
    height: 40px !important;
}

.right.menu{
    margin-right: 20px !important;
}

.content{
    margin-left: 10px;
}

.logout {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer;
}